.LoginPage
	height: 100%
	display: grid
	grid-template-rows: 1fr 1fr 1fr
	grid-template-columns: 1fr 2fr 3fr

.LoginForm
	box-sizing: border-box
	grid-row: 2/3
	grid-column: 2/3
	height: 100%
	display: flex
	justify-content: center
	flex-direction: column


.LoginForm_header
	color: #24acf2
	font: 20px Rubik
	text-align: center

.LoginForm_passwordInput
	outline: none
	border: none
	border-bottom: 2px solid black
	width: 100%
	padding-top: 1vh
	font: 20px Rubik
	padding: 0.5em
	background: transparent

.LoginForm_submit
	all: unset
	cursor: pointer
	font: 20px Rubik
	width: 100%
	background: #24acf2
	text-align: center
	border-radius: 0px 0px 20px 20px
	transition: all .1s
	box-sizing: border-box
	padding: 0.5em

.LoginForm_submit:hover
	background: #fdf07a
	transform-origin: top
	transform: scaleY(1.1)
	

.LoginForm_error
	color: red
	font-style: italic

.LoginPage_Clock
	display: flex
	align-items: center
	justify-content: center
	grid-column: 3/4
	grid-row: 2/3
	font: 50px Rubik