$bg-color: #FFFCF1
$note-bg: #fdf07a


.AddNote
	display: grid
	grid-template-rows: 8vh 87vh
	height: calc(100% - 5vh)
	width: 100%

.AddNote_Header
	grid-row: 1/2
	display: grid
	grid-template-columns: 1fr 3fr 8vh
	background: $bg-color

@media only screen and (max-width: 1000px)
	.AddNote_Header
		grid-template-columns: 1fr 8vh
	.AddNote_Header_location
		display: none

.AddNote_Header_location
	grid-column: 2/3
	padding-left: 1em
	font-size: 20px
	font-family: Verdana
	outline: none
	border: none
	border-bottom: 2px solid #333
	border-left: 2px solid #333
	background: $bg-color
	cursor: pointer

.AddNote_Header_date
	grid-column: 1/2
	display: grid
	align-items: center
	overflow: hidden
	white-space: nowrap
	padding-left: 1em
	font-size: 20px
	font-family: Verdana
	outline: none
	border: none
	border-bottom: 2px solid #333
	background: $bg-color
	cursor: pointer

.AddNote_Content
	background: $note-bg
	font: 30px Alkatra
	padding: 2em
	display: flex
	height: 87vh
	border: 0
	outline: none
	resize: none
	overflow-y: auto
	grid-row: 2/3

.AddNote_Header_delete
	all: unset
	text-align: center
	font-weight: bold
	font: 18px Verdana
	cursor: pointer

.AddNote_Header_delete:hover
	text-decoration: underline

.AddNote_Header_save
	all: unset
	text-align: center
	font-weight: bold
	font: 18px Verdana
	cursor: pointer

.AddNote_Header_save:hover
	text-decoration-line: underline



