.Note
	display: grid
	grid-template-rows: 8vh 92vh
	height: 100%
	width: 100%

.Note_Header
	grid-row: 1/2
	display: grid
	grid-template-columns: 8vh 1fr 3fr 8vh 8vh

@media only screen and (max-width: 1000px)
	.Note_Header
		grid-template-columns: 8vh 1fr 8vh 8vh
	.Note_Header_location
		display: none

.Note_Header_location
	grid-column: 3/4
	padding: 1em
	font-size: 20px

.Note_Header_date
	grid-column: 2/3
	display: grid
	align-items: center
	overflow: hidden
	white-space: nowrap
	font-size: 20px

.Note_Content
	background: #fdf07a
	font: 30px "Times New Roman"
	display: grid
	align-items: center
	height: 92vh
	overflow-y: auto
	grid-row: 2/3

.Note_Header_delete
	all: unset
	text-align: center
	font-weight: bold
	font: 18px Verdana
	cursor: pointer

.Note_Header_delete:hover
	text-decoration: underline

.Note_Header_edit
	all: unset
	text-align: center
	font-weight: bold
	font: 18px Verdana
	cursor: pointer

.Note_Header_edit:hover
	text-decoration-line: underline

.Note_Header_back
	display: flex
	text-decoration: none
	align-items: center
	justify-content: center
	font-weight: bold
	font: 30px Arial


