*
	margin: 0
	padding: 0
	box-sizing: border-box


html,body,#root
	width: 100%
	height: 100%

@font-face 
	font-family: Alkatra
	src: url('./assets/Alkatra.ttf') format('truetype')

@font-face 
	font-family: CaslonProBold
	src: url('./assets/CaslonPro-Bold.otf') format('opentype')
	

