.HomePage
	height: 100%
	background: white
	display: grid
	grid-template-columns: 1fr 4fr 1fr 4fr 1fr
	grid-template-rows: 1fr 6fr 1fr


.Calendar
	display: block
	grid-column: 2/3
	grid-row: 2/3
	border: 1px solid black

.LastNote
	display: block
	background: #fdf07a
	padding: 1em
	grid-column: 4/5
	grid-row: 2/4
	