

	
	
.HomePage
	height: calc(100% - 5vh)
	background: white
	display: grid
	grid-template-columns: 1fr 4fr 1fr 4fr 1fr
	grid-template-rows: 1fr 6fr 1fr


.Calendar
	display: flex
	justify-content: center
	align-items: center
	grid-column: 2/3
	grid-row: 2/3
	border: 2px solid black
	cursor: pointer
	font-family: Verdana
	transition: all .1s

.Calendar:hover
	border: 2px dotted red

.LastNote
	display: block
	background: #fdf07a
	padding: 2em
	grid-column: 4/5
	grid-row: 2/4
	overflow: hidden
	> p	
		padding-top: 2em
		font-size: 30px
		font-family: Alkatra
		display: -webkit-box
		overflow: hidden
		-webkit-box-orient: vertical
		-webkit-line-clamp: 5
	> h2
		font-family: Verdana

	