.NotesPage
	height: 100%
	display: flex
	flex-flow: column nowrap

.NotesPage_NotesSection
	width: 100%
	min-height: 25vh
	display: flex
	padding-left: 2em
	padding-right: 2em
	flex-flow: row wrap
	> *
		margin-left: 2em
		margin-top: 2em